In [1]:
import sqlite3

Create database is not exist

In [2]:
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create table if needed

try:
    c.execute('''CREATE TABLE users (user_name text, id real, email text, register_time text, register_ip text, register_device text)''')
except:
    pass

try:
    c.execute('''CREATE TABLE sessions (id real, session_time text, session_type text, num_pic real, pic_dir text)''')
except:
    pass
try:
    c.execute('''CREATE TABLE topups (id real, topup_time text, amount_of_money real, currency_type text)''')
except:
    pass
conn.commit()
conn.close()

In [3]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return None

In [4]:
def create_user(conn, user):
    """
    Create a new project into the projects table
    :param conn:
    :param project:
    :return: project id
    """
    sql = ''' INSERT INTO users (user_name, id, email, register_time, register_ip, register_device)
              VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, user)
    return cur.lastrowid

In [5]:
def create_session(conn, session):
    """
    Create a new project into the projects table
    :param conn:
    :param project:
    :return: project id
    """
    sql = ''' INSERT INTO sessions (id, session_time, session_type, num_pic, pic_dir)
              VALUES(?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, session)
    return cur.lastrowid

In [6]:
def create_topup(conn, topup):
    """
    Create a new project into the projects table
    :param conn:
    :param project:
    :return: project id
    """
    sql = ''' INSERT INTO topups (id, topup_time, amount_of_money, currency_type)
              VALUES(?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, topup)
    return cur.lastrowid

For our business, we care about the following activities:

    1. register -> insertion into Users
    2. login/logout -> insertion into Sessions
    3. rank pictures -> insertion into Sessions
    4. topup -> insertion into Topups

Here are the exmpales

In [7]:
#insertion samples
def main():
    database = "./example.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn:
        # create a new user
        user = ('Miao', 23896, 'zhengyuedi@gmail.com', '04/12/2018 17:23:02', '127.0.0.0', 'iPhone 6s');
        create_user(conn, user)
 
        # login/logout
        session = (23896, '04/12/2018 18:02:03', 'login', 0, '')
        create_session(conn, session)
 
        # rank pics
        session = (23896, '04/12/2018 18:12:38', 'rank', 3, '/tmp/Miao/8ne9s3/')
        create_session(conn, session)
        
        # topup
        topup = (23896, '04/12/2018 19:05:09', 20, 'USD')
        create_topup(conn, topup)

In [8]:
if __name__ == '__main__':
    main()

Look what we get yet

In [10]:
database = "./example.db"
conn = create_connection(database)
c = conn.cursor()
for row in c.execute("SELECT * FROM users;"):
    print(row)

('Miao', 23896.0, 'zhengyuedi@gmail.com', '04/12/2018 17:23:02', '127.0.0.0', 'iPhone 6s')

In [11]:
for row in c.execute("SELECT * FROM sessions;"):
    print(row)

(23896.0, '04/12/2018 18:02:03', 'login', 0.0, '')
(23896.0, '04/12/2018 18:12:38', 'rank', 3.0, '/tmp/Miao/8ne9s3/')